body {
    background-color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0;
}

div {
    text-align: center;
    font-size: 16px;
    color: #8B4513;
}

h1 {
    color: #8B4513;
    font-size: 22px;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

p {
    color: #8B4513;
    /*font-style: italic;*/
    font-size: 12px;
    text-align: center;
}

span {
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 3px
}

/* The search panel */
#panel {
    width: 100%; /* Full width */
    overflow: hidden;
    /*background-color: #FFFBEA;*/
    background-color: white;
    padding: 40px 5px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Set the search bar to fixed position */
    top: 0; /* Position the search bar at the top of the page */
}

#panel #our_title {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
}

.db_selection {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100px;
    height: 21px;
}

#kw {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    padding: 2px 5px;
}

#searchbtn {
    width: 35px;
    height: 22px;
    border: 1px solid #FF7F50;
    background: #FF7F50;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
}

#index_read, #data_fetched {
    font-weight: bold;
}

.table_container {
    width: auto;
    margin-top: 250px;
    height: 1024px;
    text-align: center;
    color: #696969;
    /*font-family: 'Lato', sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* 
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    font-style: italic 
    /* text-decoration: underline; 
}
*/

table {
    border-collapse: collapse;
    margin: 25px;
    width: 100%;
    /*margin-right: auto;
    margin-left: auto;*/
}

td, th {
    font-size: 16px;
    font-weight: 100;
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
    /*margin-right: auto;
    margin-left: auto;*/
}

th {
    padding-top: 12px;
    background-color: #E9967A;
    color: #F5EEEE;
  }

tr:nth-child(even){background-color: #F5EEEE;}
tr:hover {background-color: #FFFAFA;}

a:link { color: #8B4513; }
a:visited { color: #b98f71; }
a:hover { color: #E9967A; }

/**/
caption {
    /*font-weight: bold;*/
    font-size: 22px;
    color: #8B4513;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.expand,
.collapse {
    text-align: right;
    /* text-decoration: underline; */
}

.right {
    float: center;
}

.left {
    float: left;
}
/*
footer p {
    font-size: 10px;
    color: black;
}

footer {
    background-color: gray;
    /* width: 1024px; 
    height: 25px;
    font-size: 10px;
    text-align: center;
    /*padding-top:3px;
    padding-bottom:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/

/* Customize selection */
/* The container must be positioned relative: */



